<button (click)="goBack()">←</button>
<div *ngIf="product$ | async as product">
  <img [src]="product.image" height="90" />
  <p>{{product.title}}></p>
  <p>{{product.category}}></p>
  <p>{{product.description}}></p>
  <p>{{product.rating.rate}}></p>
  <p>{{product.rating.count}}></p>
  <p>{{product.price | currency}}></p>
  <button (click)="addProductToCart(product)">+
    <img src="https://www.freepnglogos.com/uploads/shopping-cart-png/shopping-cart-svg-png-icon-download-28.png"
      height="10" />
  </button>
</div>
<p *ngIf="!product$">Товар не найден</p>
